<!DOCTYPE html>
<html>
  <head>
    <title>HEHE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a style="padding: 0.5rem 1rem; background-color: black; color: white; font-size: 2rem; text-decoration: none;" href="/on">Turn on light</a>
    <a style="padding: 0.5rem 1rem; background-color: black; color: white; font-size: 2rem; text-decoration: none;" href="/off">Turn off light</a>
  </body>
</html>
